.circle_obj {
    border-radius: 100%;
}

.curve_obj_h15 {
    border-radius: 15px;
}



.cntnr_list_cart {
    margin: 0% 5% 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.cntnr_cart_item {
    margin: 5% 0 0;
    flex: 0 0 90%;

    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    background: linear-gradient(270deg, rgba(207, 216, 220, 0.86) -0.53%, rgba(207, 216, 220, 0) 86.2%);
}
.cntnr_left_cart_item {
    flex: 0 0 40% ;
    position: relative;

}
.cntnr_right_cart_item {
    flex: 0 0 60% ;

}


.cntnr_img_cart_game {
    border-radius: 15px;
}
.cntnr_info_used_item_cart {
    position: absolute;
    top: 8%;
    right: 10%;

    padding: 0% 5%;

    display: flex;
    justify-self: center;
    background-color: #F1D646;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

