
.fg_text_white { color: #fff; }
.fg_text_primary { color: #212121; }
.fg_text_secondary { color: #565d67; }
.fg_text_accent { color: #2e3b66; }

.bg_highlights { background-color: #F1D646; }
.bg_light_theme { background-color: #00439C; }
.bg_opacity_theme { background-color: #3564A3; }

.bg_primary { background-color: #2e3b66; }
.bg_secondary { background-color: #565d67; }
.bg_third { background-color: #e4ebf5; }





