@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@font-face{
    font-family: 'bruno';
    font-weight: bolder;
    src: url('../font/bruno.otf') format('opentype');
}

img {
    margin: auto;
    display: block;
    width: 100%;
}


.search_container {
    margin: 6% auto;
    width: 60%;
}

.search_input {
    padding: 3% 6%;
    font-size: 90%;
    color: #575756;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 260%;

    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    width: 87.5%;
}

.search_input::placeholder{
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search_container:hover .search_container:focus{
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.text_item_bar {
    color: #fff;
    font-family: bruno;
}

.item_bar {
    background-color: #00439C;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.btn_item_bar {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 1.5% 1.5%;
    margin: 0 2%;
    align-self: center;
}

.btn_item_bar_order {
    flex: 0 0 22%;
    text-align: left;
    display: flex;
}
.btn_item_bar_logo {
    background: none;
    margin: 2% auto 2% 20%;
    flex: 0 0 8%;
}

.btn_item_bar_filter {
    flex: 0 0 12%;
    display: flex;
}

.icon_order {
    align-self: center;
    width: 30%;
}
.icon_filter {
    align-self: center;
    width: 50%;
}



.container_item{
    display: flex;
    flex-flow: row wrap;
}

.item {
    position: relative;

    flex: 0 0 40%; 
    align-self: center; 

    margin-left: 7%;
    margin-bottom: 7%;
    /* margin-left: 4%; */

    border-radius: 20px;
    border: 2px;
    box-shadow: -2px 8px 3px rgba(0, 0, 0, 0.25);
    
}

.img_backround_item {
    border-radius: 20px;
}

.heart_icon {
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: red;
}

.btn_add_cart {
    position: absolute;
    border-radius: 100%;
    background: #009688;
    width: 25%;
    height: 25%;
    bottom: 4%;
    right: 5%;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_wish {
    position: absolute;
    border-radius: 100%;
    /* background: #CFD8DC; */
    width: 30%;
    height: 30%;
    bottom: -1%;
    left: 2%;

    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.btn_price {
    position: absolute;
    border-radius: 15px;
    background: #CFD8DC;
    width: 35%;
    height: 15%;
    top: 4%;
    right: 5%;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */

    padding-top: auto;
    padding-bottom: auto;
}



/* 
.heart-shape{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(250,184,66, 1);

    top: -20%;
    left: 10%;
  }
  .heart-shape:before,
  .heart-shape:after{
    position: absolute;
    width: 25px;
    height: 25px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(250,184,66, 1);
  }
  .heart-shape:before{
    bottom: 0px;
    left: -17px;
  }
  .heart-shape:after{
    top: -17px;
    right: 0px;
  } */