@font-face{
    font-family: 'robus';
    font-weight: bold;
    src: url('../font/bo.otf') format('opentype');
}
@font-face{
    font-family: 'bruno';
    font-weight: bold;
    src: url('../font/bruno.otf') format('opentype');
}

.body{
    background-color: #FFFFFF
}

header{
    -webkit-box-shadow: 0px 8px 4px 0px rgb(177, 176, 176);
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    background-color: white;
}

.topnav a{
    float: none;
    color: #00796B;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'robus';
    font-size: 22px;
}


section.accordion > button{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 2% 2%;
    max-width: 80%;
}

section.accordion > button:hover, section.accordion > button.selected{
    background-color: #ccc;
}

section.accordion > div {
    display: none;
    overflow: hidden;
}

.label_name_product, .label_price_product{
    margin-top: 20px;
}

.label_img_product{
    padding-right: 20px;
}

.cntnr_bottom_btn {
    /* display: none; */
    background-color: #eee;
    padding: 0% 4% 3%;
    margin-top: 1%;
    border-radius: 0 0 15px 15px ;
}

.conferma_button{
    width: 50%;
    margin: 5% 0 0 25%;
    padding: 10px 0px;
    border: none;
    background-color: #4f46e5;
    color: #fff;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}

div ul{
    list-style: none;
    width: 90%;
    margin: 0 10%;
}

div ul li{
    margin-bottom: 20px;
}

form ul li label{
    display: inline-block;
    width: 50%;
}




.cntn_all_allert {
    margin-left: 5%;
    margin-right: 5%;
}



.circle_obj {
    border-radius: 100%;
}
.curve_obj_h15 {
    border-radius: 15px;
}

.usable_screen{
    margin: 0%;
}

.seller_bigtext_black {
    color: #212121;
    font: normal bold 200% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.seller_footertext {
    color: #212121;
    font: normal bold 200% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.seller_footertext:hover {
    color:rgb(196, 194, 167)
}

.seller_longbutton_font {
    color: #121212;
    font: normal bold 150% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.seller_undertext_green {
    color: #009688;
    font: normal normal 100% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.center_content_flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cntnr_whole {
    background: #F9F6F6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0% 1%;
    padding: 2% 1%;
    flex: 0 0 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
}


.cntnr_scritta_lista {
    background-color: #CFD8DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 200%;
    padding: 3% 0%;
    margin: 0% 2%;
}

a {
    text-decoration: none;
}

.cntnr_scritta_lista a{
    display: block;
    color: #607D8B;
    text-decoration: none;
}


.cntnr_scritta_lista:hover {
    background-color: #b6a43f;
}

.cntnr_long_buttons {
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: 0 0 95%;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}



.content {
    overflow: hidden;
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex: 0 0 95%;
    margin: 2% 5% 0;
    padding: 15px 0;
    display: none;

}



.left_long_button {
    /* flex: 0 0 60%; */
    display: flex;
    flex-flow: row nowrap;
    /* align-content: center;
    justify-content: start; */
}

.right_long_button {
    /* flex: 0 0 40%; */
    display: flex;
    flex-flow: row nowrap;
    /* align-content: center;
    justify-content: right; */
}

.cntnr_long_buttons p{
    color: #121212;
    font: normal bold 150% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.cntnr_text_btn{
    flex: 0 0 100%;
}

.cntnr_seller {
    flex: 0 0 100% ;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
}

.cntnr_icon_theme{
    border-radius: 15px;
    width: 30px;
    padding: 2% 5%;
}

.cntnr_icon_theme img{
    width: 22px;
    height: 18px;
    float: center;
}


.expand_button {
    width: 30px;
    transition: all 150ms ease-in-out;
}

.expand_button img{
    width: 30px;
    height: 25px;
    float: right;
}

.cntnr_exit_image img{
    width: 30px;
    height: 25px;
    float: center;
}


.cntnr_btn_footer_exit {
    background-color:#CFD8DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2% 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
    cursor: pointer;
    text-decoration: none;
}

.cntnr_btn_footer_exit:hover {
    background-color: rgb(213, 88, 56);
}

.list_nav {
    flex: 0 0 100%;
    margin: 2% 1% 0;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}

.left_side {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: start;
}

/* .right_side {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
} */


.container_seller{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.searchbox {
    display: flex;
    flex: 0 0 70%;
    padding: 0;
    position: relative;
}

.searchbox #search {
    display: flex;
    flex: 0 0 85%;
    height: 35px;
    margin: 20px 8% 20px 8%;
    line-height: 18px;
    background: #F9F6F6;
    border: 3px solid #CFD8DC;
    font-size: large;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
}

.search_button {
    background-color: #CFD8DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    width: 43px;
    height: 40px;
    align-content: center;
    justify-self: flex-start;
    border: none;
    outline: none;
    margin-top: 15px;
}

.search_button img {
    float: center;
    width: 15px;
    height: 10px;
}

.search_button #submit {
    outline: none;
    cursor: pointer;
    display: flex;
    flex: 0 0 100%;
    border: none;
    text-indent: -10957px;
    width: 30px;
    height: 25px;
    padding-top: 20%;
}

.cntnr_ID {
    background: #009688;
    border-radius: 15px;
    margin: 1% 1% 0;
    padding: 5px;
    flex: 0 0 50%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.ID_text_1 {
    color: #F9F5F5;
    font: normal normal 100% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.ID_text_2 {
    color: #F9F5F5;
    font: normal bold 200% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.cntnr_scritta_prodotti1 {
    background-color: #CFD8DC;
    color: #607D8B;
    font: italic bold 200% Average, serif;
    font-feature-settings: 'cpsp' on;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 0 0 100%;
    padding: 2%;
}

.cntnr_scritta_prodotti2 {
    background-color: #CFD8DC;
    color: #607D8B;
    font: italic bold 120% Average, serif;
    font-feature-settings: 'cpsp' on;
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 100%;
    padding: 2%;
    margin-top: 5px;
}

.left_side2 {
    flex: 0 0 50%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    padding-right: 5%;
}

.right_side2 {
    flex: 0 0 35%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    justify-self: left;
    padding-right: 1%;
}

.cntnr_lista {
    margin: 8px;
    align-content: center;
    flex-flow: column wrap;
    justify-content: center;
}

.cntnr_lista2 {
    align-content: center;
    flex-flow: column wrap;
    justify-content: center;
}

.cntnr_prodotti {
    background-color: #F0F0F0;
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 75%;
    padding: 1%;
    margin-top: 5px;
    border: 2px solid #CFD8DC;
    box-sizing: border-box;
    border-radius: 5px;
}

.cntnr_prodotti2 {
    background-color: #F0F0F0;
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    flex: 0 0 100%;
    padding: 1%;
    margin-top: 5px;
    border: 2px solid #CFD8DC;
    box-sizing: border-box;
    border-radius: 5px;
}

.left_side3 {
    flex: 0 0 50%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    padding-right: 5%;
}

.right_side3 {
    flex: 0 0 40%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    justify-self: left;
    padding-right: 2%;
}

.left_side4 {
    flex: 0 0 70%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    padding-right: 5%;
}

.right_side4 {
    flex: 0 0 30%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    justify-self: left;
    padding-right: 2%;
}

.cntnr_typegame {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin-left: 40px;
}

.nintendo {
    background-color: #E70012;
}

.playstation {
    background-color: #00439C;
}

.xbox {
    background-color: #0F7B0E;
}

.pc {
    background-color: #212121;
}

.cntnr_typegame img {
    height: 16px;
    width: 16px;
    padding: 2px 0 0 2px;
}

.left_side3 p1 {
    color: #009688;
    font: normal normal 120% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.left_side3 p2 {
    color: #212121;
    font: normal bold 100% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.right_side3 {
    color: #009688;
    font: normal bold 120% Average, serif;
    font-feature-settings: 'cpsp' on;
}

.bottoni_consoles {
    clear: both;
    margin-top: 10px;

}

.bottoni_consoles > ul > li {
    display: inline-block;
    width: 22%;
    margin: 10px 0 0;
    text-align: center;
}

.bottoni_consoles ul li:not(:last-child){
    margin-right: 1%;
}

.bottoni_consoles ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 5% 0 ;
}

.bottoni_consoles ul li a img {
    width: 22px;
    height: 18px;
    float: center;
}

.bottoni_consoles ul li:first-child{
    margin-left: 2%;
}

.cntnr_btn_footer_lista {
    background-color:#CFD8DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2% 20%;
    cursor: pointer;
    position: fixed;
    bottom: 3%
}







.left_content {
    flex: 0 0 60%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: start;
}

.right_content {
    flex: 0 0 40%;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.insert_name_product {
    display: flex;
    flex: 0 0 50%;
    padding: 0;
    position: center;
}

.insert_name_product #product {
    display: flex;
    flex: 0 0 55%;
    height: 35px;
    margin: 10px 8% 10px 8%;
    line-height: 18px;
    background: #F9F6F6;
    border: 3px solid #CFD8DC;
    font-size: large;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
}

.cntnr_checkbox {
    display: flex;
    flex: 0 0 70%;
    flex: row wrap;
}

.checkbox_font {
    color: #C4C4C4;
    font: normal normal 20% Average, serif;
    font-feature-settings: 'cpsp' on;
}
/* Customize the label (the container) */
.check_container {
    display: block;
    position: relative;
    padding-right: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .check_container p{
    color: #C4C4C4;
    font: normal normal 20% Average, serif;
    font-feature-settings: 'cpsp' on;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  /* MANNUUU */

.cntnr_allert {
    display: flex;
    margin-top: 3%;

    border: 3px solid #C4C4C4;
    padding: 1% 2%;
    border-radius: 15px;
}

.nameGame{
    flex: 0 0 50%;
    font-size: 160%;
}
.cntnr_typeIcons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.cntnr_icon {
    background-color: #00439C;
    border-radius: 999px;
    margin-right: 2%;
    flex: 0 0 15%;
}

.type_icon {
    width: 55%
}