@font-face{
    font-family: 'robus';
    font-weight: bold;
    src: url('./Robus-BWqOd.otf') format('opentype');
}

body, h1, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF
}

body > header{
    text-align: center;
    font-family: 'robus';
    font-size: 250%;
    color: #00796B;
    -webkit-box-shadow: 0px 8px 4px 0px rgba(189, 189, 189, 1);
    border-radius: 0px 0px 20px 20px;
}

.ricerca{
    background-color: #FFF;
    border: 3px solid #607D8B;
    border-radius: 25px;
    overflow: hidden;
    padding: 5% 2% 3% 5%;
    margin: 6% 6%;
    width: 80%;
    -webkit-box-shadow: inset 0 3px 5px rgba(189, 189, 189, 1);   
}

.ricerca #search {
    border-style: inset;
    border-width: 0;
    color: #607D8B;
    float: left;
    font: 70px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    padding: 0% 2% 0% 3%;
    width: 78%;
}

.ricerca #submit {
    cursor: pointer;
    margin-left: 5%;
    width: 14%;
}

.img-slider{
    position: relative;
    width: 100%;
    height: 350px;
    background: #FFF;
    margin: 5% 0;
}
  
.img-slider .slide{
    z-index: 1;
    position: absolute;
    text-align: center;
    padding: 5% 0;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
  
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    height: 100%;
    transition-property: clip-path;
}
  
.img-slider .slide img{
    z-index: 1;
    width: 20%;
    height: 60%;
}
  
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
  
.img-slider .navigation .btn{
    background: black;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
  
.img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

nav ul{
    list-style: none;
}

nav > ul > li > a >  img{
    width: 45px;
    height: 38px;
    float: center;
}

nav > ul > li{
    width: 80%;
    margin: 3% 10% 3% 10%;
    text-align: center;
}

nav > ul > li > a{
    width: 100%;
    padding: 5% 0 3%;
    display: inline-block;
}

.playstation{
    background-color: #00439C;
    border-radius: 15px;
}

.xbox{
    background-color: #0F7B0E;
    border-radius: 15px;
}

.pc{
    background-color: #000000;
    border-radius: 15px;
    margin-bottom: 100px;
}

.nintendo{
    background-color: #E70012;
    border-radius: 15px;
}

#footer_bar{
    width: 100%;
    position: fixed;
    z-index: 4;
    bottom: 0;
    overflow: hidden;
}

#bar_container {
    background: #FFF;
    margin: 0 auto;
    width: 100%;
    height: 10%;
    padding: 4% 1% 0;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: inset 0 4px 5px rgba(189, 189, 189, 1);
}

#bar_container ul {
    list-style: none;
}

#bar_container ul li {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
}
    
#bar_container ul li a {
    display: block;
    width: 100%;
}

#bar_container ul li a img{
    width: 25px;
    height: 28px;
}

@media (max-width: 820px){
    .img-slider{
        width: 100%;
        height: 250px;
    }
  
    .img-slider .navigation{
        bottom: 25px;
    }
  
    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}
  
@media (max-width: 620px){
    .img-slider{
        width: 100%;
        height: 200px;
    }
  
    .img-slider .navigation{
        bottom: 15px;
    }
  
    .img-slider .navigation .btn{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}
  
@media (max-width: 420px){
    .ricerca #search {
        border-style: inset;
        border-width: 0;
        color: #607D8B;
        float: left;
        font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
        box-sizing: border-box;
        display: inline-block;
        padding: 2% 2% 2% 3%;
        width: 78%;
    }
    
    .img-slider{
        width: 100%;
        height: 150px;
    }
  
    .img-slider .navigation{
        bottom: 10px;
    }

    .img-slider .slide img{
        z-index: 1;
        width: 40%;
        height: 70%;
    }
}