@font-face{
    font-family: 'robus';
    font-weight: bold;
    src: url('../font/bo.otf') format('opentype');
}
@font-face{
    font-family: 'bruno';
    font-weight: bold;
    src: url('../font/bruno.otf') format('opentype');
}

body, h1, ul{
    margin: 0;
    padding: 0;
}

.body-home{
    background-color: #FFFFFF
}

.body-login{
    background-color: #CFD8DC;
}

header{
    -webkit-box-shadow: 0px 8px 4px 0px rgb(177, 176, 176);
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    background-color: white;
}

.topnav a{
    float: left;
    display: block;
    color: #00796B;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'bruno';
    font-size: 17px;
}

.topnav a img{
    width: 20px;
    height: 20px;
}

.topnav a:first-child{
    font-family: 'robus';
    font-size: 22px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav .icon{
    display: none;
    font-size: 22px;
}

.topnav .icon img{
    height: 22px;
    width: 22px;
}

.topnav a:not(:first-child){
    display: none;
}

.topnav a.icon{
    float: right;
    display: block;
}

.topnav.responsive{
    position: relative;
}

.topnav.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
}

.ricerca{
    padding: 0;
    position: relative;
}

.ricerca #search {
    width: 70%;
    height: 28px;
    margin: 20px 15% 20px 15%;
    line-height: 18px;
    padding: 16px 10px;
    background: white;
    border: 3px solid #607D8B;
    font-size: large;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: inset 0 3px 5px rgba(189, 189, 189, 1);
}

.ricerca #submit {
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 5px 10px;
    margin: 20px 15% 20px 0;
    border: 0;
    border-left: 1px solid #faa53a;
    text-indent: -10957px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.img-slider{
    position: relative;
    width: 100%;
    height: 150px;
    margin: 10px 0;
}
  
.img-slider .slide{
    z-index: 1;
    position: absolute;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
  
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    height: 100%;
    transition-property: clip-path;
}
  
.img-slider .slide img{
    z-index: 1;
    width: 30%;
    height: 76%;
}

.img-slider p{
    display: inline-block;
    color:yellow;
    font-size: small;
    background-color: red;
}
  
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}
  
.img-slider .navigation .btn{
    background: black;
    width: 8px;
    height: 8px;
    margin: 6px;
    border-radius: 50%;
    cursor: pointer;
}
  
.img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.nav-home{
    margin: 0 5%;
}

.nav ul{
    list-style: none;
}

.nav-home ul li {
    width: 80%;
    margin: 3% 10% 3% 10%;
    display: inline-block;
    text-align: center;
}

.nav-home ul li a{
    width:100%;
    height: 100%;
    padding: 10px 0;
    text-decoration: none;
    display: inline-block;
}

.nav-home ul li a img{
    width: 45px;
    height: 38px;
}

.nav-home ul li:nth-child(odd){
    margin-right: 17%;
}

.nav-home ul li:first-child {
    margin-left: 10%;
}

.playstation{
    background-color: #00439C;
    border-radius: 15px;
}

.xbox{
    background-color: #0F7B0E;
    border-radius: 15px;
}

.pc{
    background-color: #000000;
    border-radius: 15px;
}

.nintendo{
    background-color: #E70012;
    border-radius: 15px;
}

.playstation:hover, .xbox:hover, .pc:hover, .nintendo:hover{
    opacity: 0.8;
}

.div-login p{
    font-family: 'bruno';
    text-align: center;
    font-size: larger;
    color: #00796B;
    margin: 30px 0 5px;
}

.nav-rotondo{
    clear: both;
    margin-top: 10px;
}

.nav-rotondo > ul > li{
    display: inline-block;
    width: 22%;
    margin: 10px 0 0;
    text-align: center;
}

.nav-rotondo ul li:not(:last-child){
    margin-right: 1%;
}

.nav-rotondo ul li a{
    display: inline-block;
    width:100%;
    height: 100%;
    text-decoration: none;
    padding: 5% 0 ;
}

.nav-rotondo ul li a img{
    width: 22px;
    height: 18px;
    float: center;
}

.nav-rotondo ul li:first-child{
    margin-left: 2%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.semicircle{
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 0 0 200px 200px;
    -webkit-box-shadow: 0px 8px 4px 0px rgb(177, 176, 176);
}

.semicircle img{
    margin: 15px 0 0 40px;
    height: 20px;
    width: 20px;
}

.div-notifiche{
    max-width: 450px;
    width: 80%;
    padding: 10px 0;
    margin-right:auto; 
    margin-top: 20px;
    margin-left:auto;
}

.notifica-Letto{
    position: relative;
    background-color: #F6FAFB;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px 5px 20px 11px;
}

.notifica-nonLetto{
    position: relative;
    background-color: #F6FAFB;
    border-left: 6px solid #87A6C0;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px 5px 20px 5px;
}

.status-notifica{
    margin: 0;
    font-size: medium;

    margin-bottom: 5px;
}

.clicca-visualizza-notifica{
    margin: 0;
    font-size: smaller;
    float: left;
}

.scritta-nonLetto{
    float: right;
    color: #CB077C;
}

.card{
    background-color: white;
    border-radius: 15px;
    max-width: 450px;
    width: 80%;
    padding: 20px;
    margin-right:auto; 
    margin-top: 20px;
    margin-left:auto;
    -webkit-box-shadow: inset 0 7px 5px #509c95;
}

.card-imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}

.avatar-login {
    width: 40%;
    border-radius: 50%;
}

.form_input{
    width: 98%;
    margin-top: 30px;
    padding: 20px 5px;
    border: none;
    -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: medium;
    transition: 0.2s;
}

.form_input:hover{
    background-color: #eef2ff;
}

.form_button{
    width: 100%;
    margin-top: 30px;
    padding: 20px 0px;
    border: none;
    background-color: #4f46e5;
    color: #fff;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.form_button:hover{
    letter-spacing: 1px;
}

.card_footer{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.card_footer a{
    transition: 0.2s;
}

.card_footer a:hover{
    letter-spacing: 0.5px;
}

@media screen and (min-width: 820px){
    .topnav a:not(:first-child){
        display: inline-block;
    }

    .topnav a.icon {
        float: none;
        display: none;
    }

    .topnav .icon {
        display: none;
    }

    .body-home .img-slider{
        height: 350px;
    }
  
    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }

    .body-home .img-slider .slide img{
        z-index: 1;
        width: 20%;
        height: 80%;
    }
    .img-slider p{
        font-size: x-large;
    }

    .nav-home ul li {
        width: 40%;
        margin: 10px 0;
    }

    .nav-rotondo ul li{
        width: 23%;
    }

    .body-login .nav-rotondo ul li a img{
        width: 50px;
        height: 40px;
        float: center;
    }
}
  
@media screen and (min-width: 620px){
    body .img-slider{
        height: 250px;
    }

    body .img-slider .slide img{
        z-index: 1;
        width: 25%;
        height: 80%;
    }
  
    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
    
    .nav-home ul li a img{
        width: 40px;
        height: 40px;
        float: center;
    }

    body .nav-rotondo ul li a img{
        width: 40px;
        height: 30px;
        float: center;
    }
}
  
@media screen and (min-width: 420px){
    .img-slider{
        height: 200px;
    }

    .img-slider p{
        font-size: x-large;
    }
    
    .img-slider .slide img{
        z-index: 1;
        width: 30%;
        height: 80%;
    }

    .nav-home ul li:first-child{
        margin-left: 0;
    }

    .nav-home ul li{
        width: 40%;
        margin: 10px 0;
    }

    .nav-rotondo ul li a img{
        width: 30px;
        height: 25px;
        float: center;
    }
}